// colors
$color-primary      : #7ed56f;  //green color
$color-primary-light: #55c57a;  //green color
$color-primary-dark : #28b485;  // dark green


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;   // dark green
$color-white    : #fff;   // white
$color-green    : green;
$color-black    : #000;   // black
$color-grey-light-1 : #f7f7f7;  // grey light
$color-grey-light-2 : #eee;  // grey light

// font-sizes
$default-font-size: 1.6rem;

// grid
$grid-width       : 114rem;
$gutter-vertical  : 4rem;
$gutter-horizontal: 4rem;
